=begin
#StackOne Unified API - HRIS

#The documentation for the StackOne Unified API - HRIS

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0

=end

require 'cgi'

module StackOneHRIS
  class ConnectSessionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Authenticate Session
    # @param connect_session_authenticate [ConnectSessionAuthenticate] The parameters to authenticate
    # @param [Hash] opts the optional parameters
    # @return [ConnectSession]
    def connect_sessions_authenticate(connect_session_authenticate, opts = {})
      data, _status_code, _headers = connect_sessions_authenticate_with_http_info(connect_session_authenticate, opts)
      data
    end

    # Authenticate Session
    # @param connect_session_authenticate [ConnectSessionAuthenticate] The parameters to authenticate
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectSession, Integer, Hash)>] ConnectSession data, response status code and response headers
    def connect_sessions_authenticate_with_http_info(connect_session_authenticate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectSessionsApi.connect_sessions_authenticate ...'
      end
      # verify the required parameter 'connect_session_authenticate' is set
      if @api_client.config.client_side_validation && connect_session_authenticate.nil?
        fail ArgumentError, "Missing the required parameter 'connect_session_authenticate' when calling ConnectSessionsApi.connect_sessions_authenticate"
      end
      # resource path
      local_var_path = '/connect_sessions/authenticate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(connect_session_authenticate)

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectSession'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic']

      new_options = opts.merge(
        :operation => :"ConnectSessionsApi.connect_sessions_authenticate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectSessionsApi#connect_sessions_authenticate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Session
    # @param connect_session_create [ConnectSessionCreate] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectSessionToken]
    def connect_sessions_create(connect_session_create, opts = {})
      data, _status_code, _headers = connect_sessions_create_with_http_info(connect_session_create, opts)
      data
    end

    # Create Session
    # @param connect_session_create [ConnectSessionCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectSessionToken, Integer, Hash)>] ConnectSessionToken data, response status code and response headers
    def connect_sessions_create_with_http_info(connect_session_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectSessionsApi.connect_sessions_create ...'
      end
      # verify the required parameter 'connect_session_create' is set
      if @api_client.config.client_side_validation && connect_session_create.nil?
        fail ArgumentError, "Missing the required parameter 'connect_session_create' when calling ConnectSessionsApi.connect_sessions_create"
      end
      # resource path
      local_var_path = '/connect_sessions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(connect_session_create)

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectSessionToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic']

      new_options = opts.merge(
        :operation => :"ConnectSessionsApi.connect_sessions_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectSessionsApi#connect_sessions_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
