=begin
#StackOne Unified API - HRIS

#The documentation for the StackOne Unified API - HRIS

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0

=end

require 'cgi'

module StackOneHRIS
  class EmployeesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates an employee
    # @param x_account_id [String] The account identifier
    # @param hris_create_employee_request_dto [HrisCreateEmployeeRequestDto] 
    # @param [Hash] opts the optional parameters
    # @return [CreateEmployeeResult]
    def employee_create(x_account_id, hris_create_employee_request_dto, opts = {})
      data, _status_code, _headers = employee_create_with_http_info(x_account_id, hris_create_employee_request_dto, opts)
      data
    end

    # Creates an employee
    # @param x_account_id [String] The account identifier
    # @param hris_create_employee_request_dto [HrisCreateEmployeeRequestDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateEmployeeResult, Integer, Hash)>] CreateEmployeeResult data, response status code and response headers
    def employee_create_with_http_info(x_account_id, hris_create_employee_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeesApi.employee_create ...'
      end
      # verify the required parameter 'x_account_id' is set
      if @api_client.config.client_side_validation && x_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_id' when calling EmployeesApi.employee_create"
      end
      # verify the required parameter 'hris_create_employee_request_dto' is set
      if @api_client.config.client_side_validation && hris_create_employee_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'hris_create_employee_request_dto' when calling EmployeesApi.employee_create"
      end
      # resource path
      local_var_path = '/unified/hris/employees'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-account-id'] = x_account_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hris_create_employee_request_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEmployeeResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic']

      new_options = opts.merge(
        :operation => :"EmployeesApi.employee_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeesApi#employee_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replaces an employee
    # @param id [String] 
    # @param x_account_id [String] The account identifier
    # @param hris_create_employee_request_dto [HrisCreateEmployeeRequestDto] 
    # @param [Hash] opts the optional parameters
    # @return [CreateEmployeeResult]
    def employee_replace(id, x_account_id, hris_create_employee_request_dto, opts = {})
      data, _status_code, _headers = employee_replace_with_http_info(id, x_account_id, hris_create_employee_request_dto, opts)
      data
    end

    # Replaces an employee
    # @param id [String] 
    # @param x_account_id [String] The account identifier
    # @param hris_create_employee_request_dto [HrisCreateEmployeeRequestDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateEmployeeResult, Integer, Hash)>] CreateEmployeeResult data, response status code and response headers
    def employee_replace_with_http_info(id, x_account_id, hris_create_employee_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeesApi.employee_replace ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EmployeesApi.employee_replace"
      end
      # verify the required parameter 'x_account_id' is set
      if @api_client.config.client_side_validation && x_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_id' when calling EmployeesApi.employee_replace"
      end
      # verify the required parameter 'hris_create_employee_request_dto' is set
      if @api_client.config.client_side_validation && hris_create_employee_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'hris_create_employee_request_dto' when calling EmployeesApi.employee_replace"
      end
      # resource path
      local_var_path = '/unified/hris/employees/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-account-id'] = x_account_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hris_create_employee_request_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEmployeeResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic']

      new_options = opts.merge(
        :operation => :"EmployeesApi.employee_replace",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeesApi#employee_replace\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an employee
    # @param id [String] 
    # @param x_account_id [String] The account identifier
    # @param hris_create_employee_request_dto [HrisCreateEmployeeRequestDto] 
    # @param [Hash] opts the optional parameters
    # @return [CreateEmployeeResult]
    def employee_update(id, x_account_id, hris_create_employee_request_dto, opts = {})
      data, _status_code, _headers = employee_update_with_http_info(id, x_account_id, hris_create_employee_request_dto, opts)
      data
    end

    # Updates an employee
    # @param id [String] 
    # @param x_account_id [String] The account identifier
    # @param hris_create_employee_request_dto [HrisCreateEmployeeRequestDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateEmployeeResult, Integer, Hash)>] CreateEmployeeResult data, response status code and response headers
    def employee_update_with_http_info(id, x_account_id, hris_create_employee_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeesApi.employee_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EmployeesApi.employee_update"
      end
      # verify the required parameter 'x_account_id' is set
      if @api_client.config.client_side_validation && x_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_id' when calling EmployeesApi.employee_update"
      end
      # verify the required parameter 'hris_create_employee_request_dto' is set
      if @api_client.config.client_side_validation && hris_create_employee_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'hris_create_employee_request_dto' when calling EmployeesApi.employee_update"
      end
      # resource path
      local_var_path = '/unified/hris/employees/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-account-id'] = x_account_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hris_create_employee_request_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEmployeeResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic']

      new_options = opts.merge(
        :operation => :"EmployeesApi.employee_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeesApi#employee_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Employee
    # @param id [String] 
    # @param x_account_id [String] The account identifier
    # @param [Hash] opts the optional parameters
    # @option opts [String] :page The page number of the results to fetch
    # @option opts [String] :page_size The number of results per page (default to '25')
    # @option opts [Boolean] :raw Indicates that the raw request result is returned (default to false)
    # @option opts [String] :fields The comma separated list of fields to return in the response (if empty, all fields are returned) (default to '')
    # @option opts [String] :sync_token The sync token to select the only updated results
    # @option opts [String] :updated_after Use a string with a date to only select results updated after that given date
    # @option opts [String] :expand The comma separated list of fields that will be expanded in the response (default to '')
    # @return [EmployeeResult]
    def hris_employees_get(id, x_account_id, opts = {})
      data, _status_code, _headers = hris_employees_get_with_http_info(id, x_account_id, opts)
      data
    end

    # Get Employee
    # @param id [String] 
    # @param x_account_id [String] The account identifier
    # @param [Hash] opts the optional parameters
    # @option opts [String] :page The page number of the results to fetch
    # @option opts [String] :page_size The number of results per page (default to '25')
    # @option opts [Boolean] :raw Indicates that the raw request result is returned (default to false)
    # @option opts [String] :fields The comma separated list of fields to return in the response (if empty, all fields are returned) (default to '')
    # @option opts [String] :sync_token The sync token to select the only updated results
    # @option opts [String] :updated_after Use a string with a date to only select results updated after that given date
    # @option opts [String] :expand The comma separated list of fields that will be expanded in the response (default to '')
    # @return [Array<(EmployeeResult, Integer, Hash)>] EmployeeResult data, response status code and response headers
    def hris_employees_get_with_http_info(id, x_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeesApi.hris_employees_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EmployeesApi.hris_employees_get"
      end
      # verify the required parameter 'x_account_id' is set
      if @api_client.config.client_side_validation && x_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_id' when calling EmployeesApi.hris_employees_get"
      end
      # resource path
      local_var_path = '/unified/hris/employees/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'raw'] = opts[:'raw'] if !opts[:'raw'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'sync_token'] = opts[:'sync_token'] if !opts[:'sync_token'].nil?
      query_params[:'updated_after'] = opts[:'updated_after'] if !opts[:'updated_after'].nil?
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'x-account-id'] = x_account_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeeResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic']

      new_options = opts.merge(
        :operation => :"EmployeesApi.hris_employees_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeesApi#hris_employees_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Employees
    # @param x_account_id [String] The account identifier
    # @param [Hash] opts the optional parameters
    # @option opts [String] :page The page number of the results to fetch
    # @option opts [String] :page_size The number of results per page (default to '25')
    # @option opts [Boolean] :raw Indicates that the raw request result is returned (default to false)
    # @option opts [String] :fields The comma separated list of fields to return in the response (if empty, all fields are returned) (default to '')
    # @option opts [String] :sync_token The sync token to select the only updated results
    # @option opts [String] :updated_after Use a string with a date to only select results updated after that given date
    # @option opts [String] :expand The comma separated list of fields that will be expanded in the response (default to '')
    # @return [EmployeesPaginated]
    def hris_employees_list(x_account_id, opts = {})
      data, _status_code, _headers = hris_employees_list_with_http_info(x_account_id, opts)
      data
    end

    # List Employees
    # @param x_account_id [String] The account identifier
    # @param [Hash] opts the optional parameters
    # @option opts [String] :page The page number of the results to fetch
    # @option opts [String] :page_size The number of results per page (default to '25')
    # @option opts [Boolean] :raw Indicates that the raw request result is returned (default to false)
    # @option opts [String] :fields The comma separated list of fields to return in the response (if empty, all fields are returned) (default to '')
    # @option opts [String] :sync_token The sync token to select the only updated results
    # @option opts [String] :updated_after Use a string with a date to only select results updated after that given date
    # @option opts [String] :expand The comma separated list of fields that will be expanded in the response (default to '')
    # @return [Array<(EmployeesPaginated, Integer, Hash)>] EmployeesPaginated data, response status code and response headers
    def hris_employees_list_with_http_info(x_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeesApi.hris_employees_list ...'
      end
      # verify the required parameter 'x_account_id' is set
      if @api_client.config.client_side_validation && x_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_id' when calling EmployeesApi.hris_employees_list"
      end
      # resource path
      local_var_path = '/unified/hris/employees'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'raw'] = opts[:'raw'] if !opts[:'raw'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'sync_token'] = opts[:'sync_token'] if !opts[:'sync_token'].nil?
      query_params[:'updated_after'] = opts[:'updated_after'] if !opts[:'updated_after'].nil?
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'x-account-id'] = x_account_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeesPaginated'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic']

      new_options = opts.merge(
        :operation => :"EmployeesApi.hris_employees_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeesApi#hris_employees_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
